.homePage-body {  
    position:absolute;
    display: flex; /* Add this line */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    margin-left: 5%;
    top: 50px;
    z-index: 0;
    background-color: #e9e9e9;
}

.homePage-main {
    position: relative; /* Add this line */
    padding-left: 668px;
}

.homePage-main .homePage-options {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.homePage-options {
   margin-top: 200px;
   margin-right: 600px;
   background-color: rgba(216, 216, 216, 0.75);
   border-radius: 10px;
   padding-left: 20px;
   padding-right: 20px;
   box-shadow: 4px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.homePage-image {
    display: flex;
    margin-left: -13px;
    width: 100%;
    height: 100%;
}

/*.homePage-main .homePage-options {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}*/